Repository yupix/MiPAC, pull requests merged in 2023-01, with the labels that each got.

#31 Feat/support v13
  CHANGELOG.md
  README.md
  mipac/actions/admin/emoji.py
  mipac/actions/user.py
  mipac/client.py
  mipac/config.py
  mipac/errors/base.py
  mipac/http.py
  mipac/models/emoji.py
  mipac/models/instance.py
  mipac/models/lite/emoji.py
  mipac/models/lite/user.py
  mipac/models/note.py
  mipac/models/notification.py
  mipac/types/emoji.py
  mipac/types/instance.py
  mipac/types/note.py
  mipac/types/user.py
Labels: enhancement, Extra Large

#32 Feat/support v13
  mipac/actions/reaction.py
  mipac/errors/base.py
  mipac/models/instance.py
  mipac/types/instance.py
Labels: Large

#33 fix: `ChatMessage` model
  CHANGELOG.md
  mipac/models/chat.py
  mipac/types/chat.py
Labels: Extra Small

#35 fix: `Chat` action
  CHANGELOG.md
  mipac/actions/chat.py
Labels: Extra Small

#39 Feat/admin-announcements
  CHANGELOG.md
  mipac/actions/admins/__init__.py
  mipac/actions/admins/announcement.py
  mipac/actions/admins/emoji.py
  mipac/actions/client.py
  mipac/http.py
  mipac/manager/admins/__init__.py
  mipac/manager/admins/admin.py
  mipac/manager/admins/announcement.py
  mipac/models/announcement.py
  mipac/types/announcement.py
Labels: Large

#43 Feat/support admin
  .vscode/dev.code-snippets
  CHANGELOG.md
  mipac/actions/admins/admin.py
  mipac/actions/admins/user.py
  mipac/actions/note.py
  mipac/actions/user.py
  mipac/manager/admins/user.py
  mipac/models/admin.py
  mipac/types/__init__.py
  mipac/types/admin.py
  mipac/types/meta.py
  mipac/util.py
Labels: Extra Large

#48 feat: support achievement
  .github/workflows/codesee-arch-diagram.yml
  CHANGELOG.md
  mipac/actions/user.py
  mipac/models/notification.py
  mipac/models/user.py
  mipac/types/endpoints.py
  mipac/types/notification.py
  mipac/types/user.py
  mipac/util.py
Labels: Small
