Repository yupix/MiPAC, pull requests merged in 2023-07, with the labels that each got.

#82 chore: can cancel setup_logging when init client
  CHANGELOG.md
  mipac/client.py
Labels: Extra Small

#83 feat: Clipのサポート
  CHANGELOG.md
  mipac/actions/clip.py
  mipac/actions/note.py
  mipac/actions/user.py
  mipac/manager/client.py
  mipac/manager/clip.py
  mipac/manager/user.py
  mipac/models/clip.py
  mipac/models/lite/note.py
  mipac/types/clip.py
  mipac/utils/pagination.py
Labels: topic/API🧩, Actions⚙, Manager📦, Large

#84 Feat/support-channel
  .github/workflows/python-app.yml
  CHANGELOG.md
  mipac/actions/channel.py
Labels: topic/API🧩, Actions⚙, Large

#85 release v0.5.0
  .github/workflows/codesee-arch-diagram.yml
  .github/workflows/python-app.yml
  CHANGELOG.md
  README.md
  compiler/datas/endpoints.json
  compiler/datas/v13_api.json
  mipac/actions/admins/ad.py
  mipac/actions/admins/admin.py
  mipac/actions/admins/announcement.py
  mipac/actions/admins/emoji.py
  mipac/actions/admins/roles.py
  mipac/actions/antenna.py
  mipac/actions/blocking.py
  mipac/actions/channel.py
  mipac/actions/chat.py
  mipac/actions/client.py
  mipac/actions/clip.py
  mipac/actions/drive.py
  mipac/actions/federation.py
  mipac/actions/mute.py
  mipac/actions/note.py
  mipac/actions/poll.py
  mipac/actions/user.py
  mipac/client.py
  mipac/errors/base.py
  mipac/http.py
  mipac/manager/antenna.py
  mipac/manager/client.py
  mipac/manager/clip.py
  mipac/manager/drive.py
  mipac/manager/note.py
  mipac/manager/user.py
  mipac/models/ad.py
  mipac/models/admin.py
  mipac/models/announcement.py
  mipac/models/antenna.py
  mipac/models/chat.py
  mipac/models/clip.py
  mipac/models/drive.py
  mipac/models/emoji.py
  mipac/models/follow.py
  mipac/models/instance.py
  mipac/models/lite/channel.py
  mipac/models/lite/note.py
  mipac/models/lite/user.py
  mipac/models/mute.py
  mipac/models/note.py
  mipac/models/notification.py
  mipac/models/roles.py
  mipac/models/user.py
  mipac/types/achievement.py
  mipac/types/antenna.py
  mipac/types/clip.py
  mipac/types/endpoints.py
  mipac/types/meta.py
  mipac/types/note.py
  mipac/types/reaction.py
  mipac/util.py
  mipac/utils/pagination.py
Labels: Extra Large
